a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_499f9dd1 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#img_65b495a2 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#img_64f37254 { vertical-align: bottom; position:relative; display: inline-block; width:37%; background:none; height:auto;  }
#img_7912be8c { vertical-align: bottom; position:relative; display: inline-block; width:41%; background:none; height:auto;  }
#img_2fe25639 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#img_552b321a { vertical-align: bottom; position:relative; display: inline-block; width:31%; background:none; height:auto;  }
#img_3f14847d { vertical-align: bottom; position:relative; display: inline-block; width:69%; background:none; height:auto;  }
